.banner-resume{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), image-url('images/bonhomme.jpeg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 500px;
  color: #FFFFFF;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);

  &-content{
  font-family: 'Satisfy', cursive;

    h1{
      font-size: 50px;
    }

    h3{
      font-size: 30px;
    }
  }
}

.banner-resume-navbar{
  height: 40px;
  padding: 0px 30px;
  margin-top: 15px;
  transition: all 0.3s ease;

  a{
  color:#fff;
  text-shadow: 0px 1px 1px rgba(1,1,1,0.6);
  border: 3px solid #fff;
  margin: 4px;
  white-space: nowrap;
  text-decoration: none;

    &:hover{
      background: rgba(55,55,55,0.25);
    }
  }
}

.main-navbar-item{
  cursor: pointer;
  padding: 10px 20px;
  font-family: 'Oxygen';
}

.main-navbar-link{
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}

.social-icons .btn {
    margin-right: 15px;
}
.social-icons {
    padding-top: 10px;
    margin-bottom: 10px;
}
.social-icons .btn.btn-clear {
    border: 2px solid #fff;
}
.btn-round {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0;
}
.btn-round i {
    font-size: 20px;
    top: 15px;
    position: relative;
}
.btn.btn-clear {
    border: 1px solid #fff;
    color: #fff;
    background: none;
    background-color: none;
    font-weight: bold;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}
.btn.btn-clear:hover, .btn.btn-clear.selected {
    background: #fff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.btn-linkedin:hover {
    color: #015786;
}







