.navigation-links, #menu-dropdown{
  position: relative;
  top: 28px;
  font-size: 18px;
  color: #fff;
  font-weight: 100;
  display: inline-block;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;


  &.menu-links:hover{
    .menu{
      opacity: 0.5;
      -webkit-transition-delay: 0ms;
      -moz-transition-delay: 0ms;
      -o-transition-delay: 0ms;
      transition-delay: 0ms;
      -webkit-transform: translateX(0px) translateY(0px) rotate(90deg);
      -moz-transform: translateX(0px) translateY(0px) rotate(90deg);
      -ms-transform: translateX(0px) translateY(0px) rotate(90deg);
      -o-transform: translateX(0px) translateY(0px) rotate(90deg);
      transform: translateX(0px) translateY(0px) rotate(90deg);
    }

    .links-show{
      opacity: 1;
      position: relative;

      a{
        pointer-events: auto;
        opacity: 1;
        -webkit-transition-delay: 400ms;
        -moz-transition-delay: 400ms;
        -o-transition-delay: 400ms;
        transition-delay: 400ms;
        -webkit-transform: translateX(6px);
        -moz-transform: translateX(6px);
        -o-transform: translateX(6px);
        transform: translateX(6px);

        &:hover{
          -webkit-transition-delay: 0ms;
          -moz-transition-delay: 0ms;
          -o-transition-delay: 0ms;
          transition-delay: 0ms;
        }

        &:nth-child(1){
          -webkit-transform: translateX(3px);
          -moz-transform: translateX(3px);
          -o-transform: translateX(3px);
          transform: translateX(3px);
        }

        &:nth-child(2){
          -webkit-transform: translateX(6px);
          -moz-transform: translateX(6px);
          -o-transform: translateX(6px);
          transform: translateX(6px);
        }
      }
    }
  }

  .links-show{
    position: relative;
    opacity: 0;
    overflow: hidden;
    bottom: 4px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;

      a{
        display: inline-block;
        pointer-events: none;
        position: relative;
        font-weight: 800;
        margin: auto 3px;
        color: rgba(255,255,255,0.665);
        text-decoration: none;
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        transition: all 300ms linear;
        -webkit-transition-delay: 0ms !important;
        -moz-transition-delay: 0ms !important;
        -o-transition-delay: 0ms !important;
        transition-delay: 0ms !important;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
        opacity: 0;

          &:hover{
            color: #FFF;
          }
      }
  }
  .menu{
    opacity: 1;
    position: relative;
    top:0px;
    font-size: 28px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
    color: #fff;
  }
}
