.about-page {
  position: relative;
  padding-bottom: 3em;
  background: #fff;
}
.about-container {
  padding: 25px;
}

.picture-container {
  display: flex;
  justify-content: center;
}

.picture-container2 {
  display: flex;
  justify-content: center;
}


.no-padding {
   padding: 0 !important;
    margin: 0 !important;
}

#title-about {
   padding: 50px 0px 0px;
}


.about-content {
  margin: 30px 0 0;
  text-align: justify;
  padding: 30px;
}

.about-container p{
  font-size: 14px;
  color: #858585;
}

.profile-picture {
  height: 40vh;
  // min-height: 500px;
  // transform:rotate(7deg);
}

.data-science-picture {
  height: 60vh;
  // min-height: 500px;
}

.lewagon-picture {
  height: 30px;
  width: auto;
  vertical-align: middle;
}

.link-to {
  color: black;
}

.link-to:hover {
  color: #D4312D;
  text-decoration: none;
}

.logo-style {
  color: #646464;
}

.wrapper-table {
  display: table;
  transform:rotate(7deg);
  overflow: hidden;

}

.wrapper-table p {
  font-size: 14px;
  color: #858585;

}
.wrapper-table div {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  padding: 14px;
}

.rotated-table {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
