.welcome-text-intro{
    position: relative;
}

.links{
  margin-top: 30px;

  a{
    font-weight: 800;
    color:#fff;
    text-shadow: 0px 1px 1px rgba(1,1,1,0.6);
    padding: 10px;
    border: 3px solid #fff;
    margin: 4px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
      background: rgba(55,55,55,0.25);
    }
  }
}

.top-bar{
  top: -10px;
  left: -15px;
  position: absolute;
  display: block;
  width: 100px;
  height: 10px;
  background: rgba(255,255,255,0.9);
  // margin: 20px 0 0 290px;
}

.bottom-bar{
  bottom: -10px;
  right: -15px;
  position: absolute;
  display: block;
  width: 100px;
  height: 10px;
  background: rgba(255,255,255,0.9);
  // margin: 20px 0 0 290px;
}
