.welcome-text-intro{
  position: relative;
  -webkit-animation: slideUp 1.35s;
  animation: slideUp 1.35s;
  h1 {
    color: black;
    &:hover {
      color: #fff;
    }
  }
  h3 {
    color: black;
    &:hover {
      color: #fff;
    }
  }
}

.links{
  // margin-top: 30px;
  margin-top: 20px;

  a{
    font-weight: 800;
    // color:#fff;
    color: black;
    text-shadow: 0px 1px 1px rgba(1,1,1,0.6);
    padding: 10px;
    // border: 3px solid #fff;
    border: 3px solid black;
    margin: 4px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
      background: rgba(55,55,55,0.25);
      color: #fff;
    }
  }
}

.top-bar{
  top: -10px;
  left: -15px;
  position: absolute;
  display: block;
  width: 100px;
  height: 10px;
  // background: rgba(255,255,255,0.9);
  background: black;
  // margin: 20px 0 0 290px;
}

.bottom-bar{
  bottom: -10px;
  right: -15px;
  position: absolute;
  display: block;
  width: 100px;
  height: 10px;
  // background: rgba(255,255,255,0.9);
  background: black;
  // margin: 20px 0 0 290px;
}
