@media (max-width: 767px) {
  // .banner-resume {
  //   background-attachment: scroll;
  //   height: 100%;
  //   width: 100%;
  // }
  .navbar-inner{
    display: none;
  }
  .wrapper-text-flexbox, .banner-contact {
    background: image-url('images/bwd.jpg') center center / cover no-repeat;
  }

  .banner-resume {
    background: image-url('images/bonhomme.jpeg') left center / cover no-repeat;
  }


  .fullscreen-bg-video {
      display: none;
  }


  .project-page {
    .container-macbook {
      // display: flex;
      // justify-content: center;
    }
    .macbook, video {
      max-height: 200px;
    }


    h3 {
      // color: blue;
      text-align: center;
    }
    p {
      text-align: justify;
      margin: auto 30px;
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .project-page {
    .macbook, video {
      max-height: 200px;
    }


    h3 {
      font-size: 23px;
      // color: green;
      // text-align: center;
    }
    p {
      font-size: 12px;
      // text-align: justify;
      // margin: auto 30px;
    }
  }
}

