<div class="navbar-portfolio ">
  <div id="navigation-banner">
    <div class="container">
      <div class="row" id="navigation-content">
        <div class="col-xs-4">
          <a href="/">
            <div class="logo">
              <span id="N_logo" class="logo_letter_animation">N</span>
              <span id="D_hide_logo" class="logo_letter_animation">D</span>
              <span id="i_logo" class="logo_letter_animation">i</span>
              <span id="c_logo" class="logo_letter_animation">c</span>
              <span id="o_logo" class="logo_letter_animation">o</span>
              <span id="l_logo" class="logo_letter_animation">l</span>
              <span id="a_logo" class="logo_letter_animation">a</span>
              <span id="s_logo" class="logo_letter_animation">s</span>
              <span id="Dotto_logo" class="logo_letter_animation">Dotto</span>
            </div>
          </a>
        </div>
        <div class="col-xs-8 text-right">
          <div class="navigation-links menu-links">
            <span class="links-show">
              <a href="/" data-caption="Home">
                <span class="glyphicon glyphicon-home"></span>
              </a>
              <a href="/resume.html#about" data-caption="Portfolio">
                <span class="glyphicon glyphicon-folder-open"></span>
              </a>
              <a href="/contact.html" data-caption="Contact">
                <span class="glyphicon glyphicon-send"></span>
              </a>
            </span>
            &nbsp;
            <span class="glyphicon glyphicon-menu-hamburger menu"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







