<div class="content main-container">
  <div class="banner-contact window-full-sized text-white">
    <div class="banner-contact-content">
      <div class="welcome-text-intro blink">
        <div class="top-bar"></div>
        <h1>How can I help you?</h1>
        <p>Please fill in the form <span>|</span></p>
        <div class="col-xs-12">
          <%= partial "form" %>
        </div>
        <div class="bottom-bar"></div>
      </div>
    </div>
  </div>
</div>



