

  <div id="bodyBg"></div>
  <div class="container" id="body-contact">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div id="intro-contact">
          <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-xs-10 col-xs-push-1">
              <div class="block text-center">
                <div class="top-bar-contact"></div>
                <div class="inline blink text-left">
                  <h1>Thank you so much for reading!</h1>
                  <p>Please let's keep in touch.
                  <p>Messages sent through this contact form go directly into my inbox.
                  <p>It is the best way to contact me.<span>|</span></p>
                </div>
                <div class="bottom-bar-contact"></div>
                <%= partial "form" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="content main-container">
  <div class="banner-contact window-full-sized text-white">
    <div class="banner-contact-content">
      <div class="welcome-text-intro blink">
        <div class="top-bar"></div>
        <h1>How can I help you?</h1>
        <p>Please fill in the form <span>|</span></p>
        <div class="col-xs-12">
        </div>
        <div class="bottom-bar"></div>
      </div>
    </div>
  </div>
</div> -->
