  <!-- Main -->
  <div class="content main-container">
    <div class="banner-resume">
      <div class="container">
        <div class="row">
          <div class="banner-resume-content">
            <h1>Nicolas Dotto,
              <br>Business Analyst 2.0.</h1>
            <h2>Building a career in data science & web development.</h2><div class="social-icon">
              <a href="https://www.linkedin.com/in/nicolas-dotto-09692093" class="btn btn-round btn-clear btn-linkedin"><i class="fa fa-linkedin-square"></i></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="banner-resume-navbar">
            <strong>
              <a href="#about" class="main-navbar-item main-navbar-link">About</a>
              <a href="#resume" class="main-navbar-item main-navbar-link">Experience</a>
              <a href="#skills" class="main-navbar-item main-navbar-link">Skills</a>
              <a href="#portfolio" class="main-navbar-item main-navbar-link">Portfolio</a>
            </strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- About -->
  <div class="about-page" id="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 ">
          <div class="about-container">
            <h3 class="section-title" id="title-about">About</h3>
            <h4>Bienvenue! Thank you for taking the time to read this section</h4>
            <p>I'm starting a new life after attending <a class="link-to" href="http://www.lewagon.org/en" target="_blank"></a> <img class="lewagon-picture" src="images/le_wagon.png" alt="Le Wagon">
              <br>
              I have been living in London for 4 years, I have always looked for new challenges. Learning to code has been an aspiration of mine for quite a long time.
              <br>
              Have a look at my <a class="link-to" href="https://github.com/nicodosw11" target="_blank">Github account</a>.
            </p>
              <br>
              <br>
            <h4>Bienvenue! Thank you for taking the time to read this section</h4>
            <p>I'm starting a new life after attending <a class="link-to" href="http://www.lewagon.org/en" target="_blank"></a> <img class="lewagon-picture" src="images/le_wagon.png" alt="Le Wagon">
            <br>
            I have been living in London for 4 years, I have always looked for new challenges. Learning to code has been an aspiration of mine for quite a long time.
            <br>
            Have a look at my <a class="link-to" href="https://github.com/nicodosw11" target="_blank">Github account</a>.
            </p>
              <br>
              <br>
            <h4>Bienvenue! Thank you for taking the time to read this section</h4>
            <p>I'm starting a new life after attending <a class="link-to" href="http://www.lewagon.org/en" target="_blank"></a> <img class="lewagon-picture" src="images/le_wagon.png" alt="Le Wagon">
            <br>
            I have been living in London for 4 years, I have always looked for new challenges. Learning to code has been an aspiration of mine for quite a long time.
            <br>
            Have a look at my <a class="link-to" href="https://github.com/nicodosw11" target="_blank">Github account</a>.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="picture-container2">
           <img class="data-science-picture" src="images/data-scientist.jpg">
          </div>
          <div class="picture-container">
           <img class="profile-picture" src="images/pic.jpeg">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Resume -->
  <div class="resume-page" id="resume">
    <!-- <div class="container-resume text-center padded features" id="resume"> -->
    <div class="box-resume" >
      <h2>Resume</h2>
      <ul class="v-timeline mt50">
        <li>
          <h3 class="v-heading wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s"><i class="fa fa-line-chart"></i>Market Risk</h3>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.5s"><span><i class="fa fa-calendar"></i> jul - aug 2007</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-1"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.5s">
            <h4 data-toggle="collapse" data-target="#toggle-1">Le Wagon - Fullstack Developer Bootcamp in London</h4>
            <p id="toggle-1" class="collapse in"><a href="http://www.lewagon.org/en">Le Wagon</a> is an intensive 12 weeks full-time training school in web application development for front-end and back-end coding using mainly Ruby and Ruby on Rails.</p>
          </div>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.6s"><span><i class="fa fa-calendar"></i> jul - aug 2007</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-2"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.6s">
            <h4 data-toggle="collapse" data-target="#toggle-2">Market Risk Analyst, HSBC, London</h4>
            <p id="toggle-2" class="collapse">Business Analyst at <a href="http://www.hsbc.com/">HSBC</a> London.
              <br>
              <strong>Tasks:</strong> “Financial Statements”, “Derivatives”, “Credit Risk Limits & Exposure Monitoring”, “Financial Statements”, “Derivatives”, “Credit Risk Limits & Exposure Monitoring”,
              <br>
              <strong>Overview: </strong> I combined my credit skills & market risk analysis experience Communications and did some research on financial markets.</p>
          </div>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.7s"><span><i class="fa fa-calendar"></i> jul - aug 2007</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-3"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.7s">
            <h4 data-toggle="collapse" data-target="#toggle-3">Financial Institutions Analyst (Assistant)</h4>
            <p id="toggle-3" class="collapse">Tasks: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae esse nemo doloremque quae sed. Error voluptatibus facilis tempore sapiente exercitationem aperiam, quibusdam, delectus quae ratione odio, nulla voluptate culpa minima!”.
              <br>
              Overview: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex accusantium repellat sit, illum labore voluptas porro voluptates, fugiat asperiores impedit beatae vel, vitae totam minus qui quibusdam ab perspiciatis!
            </p>
          </div>
        </li>
      </ul>
        <br>
      <ul class="v-timeline mt50">
        <li>
          <h3 class="v-heading wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s"><i class="fa fa-credit-card"></i>Credit Analysis</h3>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0s"><span><i class="fa fa-calendar"></i> jul - aug 2007</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-4"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0s" >
            <h4 data-toggle="collapse" data-target="#toggle-4">Credit Officer</h4>
            <p id="toggle-4" class="collapse in">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit tempora tempore, iure, obcaecati sequi aliquid esse, voluptates excepturi culpa quod, laborum distinctio qui reiciendis facere repudiandae ducimus eligendi repellendus dolor.
            </p>
          </div>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.1s"><span><i class="fa fa-calendar"></i> jul - aug 2007</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-5"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.1s" >
            <h4 data-toggle="collapse" data-target="#toggle-5">Sell-side Analyst</h4>
            <p id="toggle-5" class="collapse">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque optio placeat in quae praesentium, expedita nulla delectus. Molestiae, id, incidunt deserunt amet non, assumenda possimus, commodi obcaecati repellendus itaque adipisci.</p>
          </div>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.2s"><span><i class="fa fa-calendar"></i> jul - aug 2007</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-6"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.2s">
            <h4 data-toggle="collapse" data-target="#toggle-6">Credit Analyst</h4>
            <p id="toggle-6" class="collapse">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem voluptates consequatur provident magnam obcaecati mollitia adipisci eum, laudantium quos. Accusantium, qui! Quas maxime aperiam optio laborum tempore, deleniti reprehenderit eveniet. <a href="http://www.lewagon.org/en">Lorem </a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut maiores nam sit eum aspernatur obcaecati natus enim, quaerat facilis officia numquam eligendi tenetur corporis voluptate cupiditate veritatis suscipit aliquid asperiores. </p>
          </div>
        </li>
      </ul>
    </div>
      <!-- </div> -->
  </div>




